{% extends "bootstrap/base.html" %} {% block title %} IMDB Rating {% endblock %}
{% block content %}
<h2>Welcome to IMDB Rating API</h2>
<h4 align='right'><a href='home'>Home</a></h4>
<form
  class="navbar-form navbar-left"
  name="imdbform"
  method="POST"
  role="search"
  action="#"
>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="txtmoviename"
      placeholder="Movie Name"
    />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<br></br>
  <br></br>

  <table class="table table-hover">
    <tr>
      <td align='center' class=".themed-grid-col"><b> Movie Details  </b></td>
    </tr>
    
    {% for detail in results %}
    <tr></tr>
       <td class=".themed-grid-col"><b>{{detail.title()}}</b></td>
       <td class=".themed-grid-col"><i>{{results[detail]}}</i></td>
    </tr>
    {% endfor %}    
    
  </table>
</form>


{% endblock %}
